<nav>
    <div class="wrapperNav">
        <ul>
            {% if app.user%}
            {# Si connecté #}
                <li>
                    <a href="#">Mon compte</a>
                </li>

                <li>
                    <a href="{{ path('app_logout') }}">Me déconnecter</a>
                </li>
            {% else %}
            {# Si non connecté #}
                <li>
                    <a href="{{ path('app_register') }}">M'inscrire</a>
                </li>

                <li>
                    <a href="{{ path('app_login') }}">Me connecter</a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>