{% extends 'base.html.twig' %}

{% block title %}Administration des produits{% endblock %}

{% block body %}
        <main class="main">
            <section class="col">
                <div class="col presentation">
                    <h1>Modifier un produit</h1>
                    {% include "admin/product/_form.html.twig" with {'button_label': 'Modifier'} %}
                </div>
            </section>
        </main>
{% endblock %}